* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-align: center;
    width: 100%;
  }
  
  #header {
    height: 120px;
    background-color:darkgray;
     display: flex;
    justify-content: center;
  align-items: center;
  }
  
  #nav {
    height: 90px;
    background-color: darkgray;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  align-items: center;
  }
  
  #content {
    display: flex;
  
  }
  
  #con {
    height: 270px;
    background-color: darkgray;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  align-items: center;
  }
  
  #main {
    height: 270px;
    background-color: darkgray;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
  align-items: center;
  }
  
  #con1 {
    height: 270px;
    background-color: darkgray;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
  align-items: center;
  }
  
  #footer {
    height: 115px;
    background-color: darkgray;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  align-items: center;
  }